/* villa.css */

.villa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}
.villa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Cambia el color de fondo según lo necesites */
  z-index: 9999; /* Asegura que la clase villa esté en la parte superior */
}

/* Estilos adicionales según sea necesario */


.villa-container {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  width: 100%; /* Ancho máximo del contenido */
  height: 100%; /* Altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical cuando sea necesario */
}

.villa-title {
  text-align: center;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permitir que las imágenes se envuelvan */
  margin-bottom: 20px;
}

.villa-image {
  width: 100%;
  max-width: 250px; /* Ancho máximo de las imágenes */
  height: auto;
  margin: 5px;
  border-radius: 5px;
}

.villa-description {
  text-align: justify;
}
