.villa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #045322;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Añadimos desplazamiento vertical para la clase .villa */
}

.villa-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  text-align: center;
  overflow-y: auto; /* Mantenemos el desplazamiento vertical para el contenido de .villa-container */
}

.villa-title {
  margin-top: 1%;
  font-size: 0.5rem;
  margin-bottom: 20px;
  color: #333;
}

.villa-gallery img {
  width: 70%; /* Ajustamos el ancho de las imágenes */
  height: auto;
  border-radius: 10px; /* Agregamos bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
  margin-bottom: 20px;
  aspect-ratio: 16/9;

}
@media screen and (max-width: 768px) {
  .villa-title {
    font-size: 0.5rem; /* Reducir tamaño de fuente para dispositivos móviles */
  }
}