.c-container {
  justify-content: space-between;
}
.s-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.d-container {
  background-image: url('../../../public/portada7.jpg'); 
  background-size: cover; 
  background-position: center; 
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-container2 {
  background-color: #0b7a0b;
  background-size: cover; 
  background-position: center; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.r-cards {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
  background-color: #008000;
}
.r-cards > img {
  width: 100%;
  max-width: 15rem;
}

.r-cards > :nth-child(2) {
  font-size: 5.2rem;
  font-weight: 600;
  color: #fff; 
}

.r-cards > :nth-child(3) {
  font-size: 1.5rem;
  color: #fff; 
}

.r-cards > :nth-child(4) {
  font-size: 0.7rem;
  width: 15rem;
  color: #fff; 
}

.r-cards:hover {
  transform: scale(1.025);
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 160, 255, 0.46) 217.91%);
  background-color: #03490e;
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}
/* Estilo para el contenedor principal */
.flexColStart.r-cardss {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #176404; /* Color del borde */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo */
}

/* Estilo para cada uno de los elementos span */
.flexColStart.r-cardss span {
  margin-bottom: 5px; /* Espaciado entre cada elemento */
  font-size: 16px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

/* Estilo para el título de la unidad */
.flexColStart.r-cardss span:nth-child(1) {
  font-weight: bold; /* Texto en negrita */
  color: #000000; /* Color rojo */
}

/* Estilo para el texto "Director:" */
.flexColStart.r-cardss span:nth-child(2)::before {
  content: "Director: "; /* Agregar texto antes del contenido */
  font-weight: bold; /* Texto en negrita */
  color: #27ae60; /* Color verde */
}

/* Estilo para el texto "Referencia:" */
.flexColStart.r-cardss span:nth-child(3)::before {
  content: "Referencia: "; /* Agregar texto antes del contenido */
  font-weight: bold; /* Texto en negrita */
  color: #27ae60; /* Color naranja */
}

/* Estilo para el texto "Nivel:" */
.flexColStart.r-cardss span:nth-child(4)::before {
  content: "Nivel: "; /* Agregar texto antes del contenido */
  font-weight: bold; /* Texto en negrita */
  color: #27ae60; /* Color morado */
}

.c-container > div {
  flex: 1;
}
.c-right {
  width: 100%;
}
.c-left {
  gap: 0.5rem;
}
.contactModes {
  margin-top: 2rem;
  gap: 1rem;
}
.contactModes .row {
  gap: 1.5rem;
}
.mode {
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 300ms ease-in;
}
.mode .button {
  width: 100%;
  background: var(--lightBlue);
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
}
.mode > :nth-child(1) {
  width: 100%;
  gap: 1.6rem;
}
.mode .detail .primaryText {
  font-size: 1.1rem;
  font-weight: 600;
}

.mode:hover {
  scale: 1.1;
  box-shadow: var(--shadow);
}

.mode .button:hover {
  background: var(--blue-gradient);
  color: white;
  scale: 0.8;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px; /* Tamaño máximo para evitar que sea demasiado grande */
  max-height: 80%;
  overflow: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.primaryTexts {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
}

.zoom-buttons {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según sea necesario */
  left: 10px; /* Ajusta la posición horizontal según sea necesario */
}

.zoom-buttons button {
  margin-right: 5px; /* Añade espacio entre los botones */
}


@media (max-width: 1024px) {
  .c-container {
    flex-direction: column;
  }
  .c-right {
    justify-content: center;
  }
}
@media (max-width: 1024px)
{
    .contactModes{
        width: 100%;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .mode{
        width: 100%;
    }
}