.v-container .image-container {
  border: 8px solid rgb(232 232 232 / 93%);
  width: 90%;
  height: 90%;
}
.v-container > div {
  flex: 1;
}

.bold-subtitle {
  font-weight: bold;
  color: black;
}

.v-wrappera {
  background-image: url('../../../public/portada6.jpg'); /* Cambia 'ruta/a/tu/imagen.jpg' por la ruta de tu imagen */
  background-size: contain; /* Ajusta la imagen para que quepa dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  padding: 20px 0; /* Ajusta el relleno según sea necesario */
}
.v-right {
  gap: 0.5rem;
}
.accordion {
  margin-top: 2rem;
  border: none;
}
.accordionItem {
  background: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}
.accordionButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}
.icon svg {
  fill: var(--blue);
}

.accordionButton .primaryText{
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .v-container{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .accordionButton .primaryText{
        font-size: .8rem;
    }
    .v-wrappera {
      background-image: none; /* Elimina la imagen de fondo */
      background-color: #092e12; /* Fondo de color para dispositivos móviles */
    }
}